@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

//Fuente principal 
$fuente_principal: 'Merienda', cursive;

//tamaño de los media queries 
$telefono: 480px; 
$tablet: 768px; 
$desktop: 1024px;

//colores 
$negro: #000000; 
$blanco: #ffffff;
$blancoOscuro: #f1e7e7;
$amarillo: #D8DB26;
$rojo: #CD2121;
$verde: #3EA532;
$gris: #5A625A;
$grisClaro: #d3c8c8;
$azul: #377CBD;
$azulClaro: #80B6E7;
$azulOscuro: #11406A;

$separacion: 5rem; 

